<launch>
  
  <node pkg="cv_camera" name="cv_camera" type="cv_camera_node" >
    <param name="rate" value="10.0" />
  </node>

  <node pkg="web_video_server" name="web_video_server" type="web_video_server" >
  </node>   
            
  <node pkg="raspi_ros" name="stream" type="stream.py" output="screen" />
</launch>
